.grid-item { width: 500px; }

@font-face {
  font-family: 'Calluna';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}

body {
  background: #292929;
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}

.dashboard-piece {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    position: relative;
    padding-bottom: 0px;
}
.wrap {
	width: 100%;
}

.imgbtn {
    height: 200px;
}

.pldiv { 
	background: #484848;
}

.sabdiv {
	background: #B1B1B1;
}

.lidiv {
    background: #6D9DD1;
} 

.sbdiv {
	background: #86A48B; 
}

.plexlogo {
 max-height: 50%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.sabnzbd {
 max-height: 80%;
}

.milight {
 background: #6D9DD1;
 max-height: 80%;
}

.sickbeard {
 background: #86A48B;
 max-height: 80%;
}

.imgbut img {
    max-width: 95%;
    max-height: 95%;
	vertical-align: middle;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;

}

@media (min-width: 48em) { 
.imgbtn {
    height: 100%;
}
.row {
    height: 50%;
}
html,body,.container-fluid {
    height:100%;
} 
}

