.grid-item { width: 500px; }

@font-face {
  font-family: 'Calluna';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}

body {
/*  background: #2980b9;*/
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}

#columns {
  /*column-width: 320px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;*/
  margin: 0px auto;*/
}
.dashboard-piece {
    min-height: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
}
.wrap {
	width: 100%;
}

.pldiv { 
	height: 500px;
	background: #484848;
}

.sabdiv {
	height: 500px;
	background: #B1B1B1;
}

.lidiv {
	height: 500px;
    background: #6D9DD1;
} 

.sbdiv {
	height: 500px;
	background: #86A48B; 
}

.plexlogo {
 max-height: 300px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.sabnzbd {
/*max-height: 300px;*/
}

.milight {
 background: #6D9DD1;
}

.sickbeard {
 background: #86A48B;
 max-height: 50%;
}
#columns img {
    max-width: 95%;
    max-height: 95%;
	vertical-align: middle;
	/*height: 100%;*/
}
