
<!DOCTYPE html><html class=''>
<head>
<script src="{{url_for('static', filename='js/grid.js')}}"></script> 
<meta charset='UTF-8'><meta name="robots" content="noindex">
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css')}}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}" >
<meta name="viewport" content="width=device-width, initial-scale=1">

</head><body>
<div class="container">
{% for item in items %}
{% if loop.index is not divisibleby 2 %} 
<div class="row">
{% endif %}
  <div class="one-half column dashboard-piece {{item['div']}}" data-id="{{item['class']}}">
      <div class="dummy"> </div>
      <div class="img-container">
      <img class="u-max-full-width {{item['class']}}" src="{{ url_for('static', filename=item['img'])}}">
      </div>
  </div>
{% if loop.index is divisibleby 2 %} 
</div>
{% endif %}
{% endfor %}
</div>

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!--<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script> 
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script>
$(document).ready(function(){
	var $grid = $('.grid').masonry({
		// options...
		itemSelector: '.grid-item',
		columnWidth: 500 
	});
	// layout Masonry after each image loads
	$grid.imagesLoaded().progress( function() {
		$grid.masonry('layout');
	});

$('figure img').click(function() 
{ 
    var light_id = $(this).parent().data('id'),
    result = "Light " + light_id + " active.";

    $.ajax
    ({ 
        url: 'light',
        data: "id="+light_id,
        type: 'post',
        success: function()
        {
			alert(result);            
        }
    });
});
});
</script>-->
</body></html>

