
<!DOCTYPE html><html class=''>
<head>
<script src="{{url_for('static', filename='js/grid.js')}}"></script>
<meta charset='UTF-8'><meta name="robots" content="noindex">
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css')}}" >
</head><body>
<div id="columns" class="grid">
  <div class="grid-item dashboard-piece sabdiv" data-id="{{item}}">
      <span class="helper"></span> <img class="sabnzbd" src="{{ url_for('static', filename='assets/sabnzbd.png')}}">
  </div>
  <div class="grid-item dashboard-piece pldiv" data-id="{{item}}">
      <span class="helper"></span> <img class="plexlogo" src="{{ url_for('static', filename='assets/plex.png')}}">
  </div>
  <div class="grid-item dashboard-piece sbdiv" data-id="{{item}}">
      <span class="helper"></span> <img class="sickbeard" src="{{ url_for('static', filename='assets/sickbeard.png')}}">
  </div>

 <div class="grid-item dashboard-piece lidiv" data-id="{{item}}">
      <span class="helper"></span> <img class="milight" src="{{ url_for('static', filename='assets/light.png')}}">
  </div>


</div>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script> 
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script>
$(document).ready(function(){
	var $grid = $('.grid').masonry({
		// options...
		itemSelector: '.grid-item',
		columnWidth: 500 
	});
	// layout Masonry after each image loads
	$grid.imagesLoaded().progress( function() {
		$grid.masonry('layout');
	});

$('figure img').click(function() 
{ 
    var light_id = $(this).parent().data('id'),
    result = "Light " + light_id + " active.";

    $.ajax
    ({ 
        url: 'light',
        data: "id="+light_id,
        type: 'post',
        success: function()
        {
			alert(result);            
        }
    });
});
});
</script>
</body></html>

